<div class="row">
    <div class="viewport-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb has-arrow">
          <li class="breadcrumb-item">
            <a [routerLink]="'/user/dashboard'">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="'/user/audio'">Audio</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/user/audio', audio.id]">edit</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{audio.name}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="col-md-5 offset-7">
        <div class="ml-auto">
          <div [hidden]="!success" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successMessage}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  
          <div [hidden]="!failure" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{failureMessage}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="content-viewport">
    <div class="row">
      <div class="col-lg-12 equel-grid">
        <div class="grid">
          <div class="grid-body">
            <div class="item-wrapper">
              <div class="text-right">
                <!-- <div class="btn btn-primary has-icon mb-2" [routerLink]="'/user/audio/add'">
                  <i class="fas fa-plus -plus-outline"></i>Add
                </div> -->
              </div>
  
              <form>
                <div class="form-group">
                  <label>Audio file name</label>
                  <input type="text" required placeholder="File name" class="form-control" id="fileName" name="name"
                    [(ngModel)]="audio.name">
                  <small id="fileName" class="form-text">enter a file name</small>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <textarea rows="4" placeholder="enter a short description" class="form-control" name="description"
                    [(ngModel)]="audio.description"> </textarea>
                  <small class="form-text">audio file description</small>
                </div>
                <div class="form-group">
                  <label>Audio file</label>
                  <input type="file" class="form-control" accept=".mp3, .wav" id="file" name="file"
                    (change)="getFile($event)">
                  <small id="file" class="form-text">you can only upload .mp3 and .wav file extensions</small>
                </div>
                <div class="text-right mb-3">
                  <button (click)="editAudioFile(audio.id)" class="btn btn-primary "><i class="fas fa-upload mr-2"></i> edit
                    audio
                    file</button>
                </div>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  