<footer class="footer">
    <div class="row">
      <div class="col-sm-6 text-center text-sm-right order-sm-1">
        <ul class="text-gray">
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a [routerLink]="'/user/system/help'" >System Help</a></li>
        </ul>
      </div>
      <div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0">
        <small class="text-muted d-block">Copyright © 2020 <a href="#" target="blank">Nexis</a>. Voice Broadcast Platform</small>
      </div>
    </div>
  </footer>