<nav class="navbar navbar-expand-sm navbar-light bg-transparent ">
  <div>
    <!--{{platform.date}} | {{platform.time}}-->
    <p>
      <span class="sidebar-toggler"><a><i class="fas fa-bars mr-2"></i></a></span> |
      Server Status: <span class="text-success"><b>status</b></span></p>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown px-3" title="buy credits">
        <a class="fas fa-shopping-cart fa-1x text-primary" [routerLink]="['/user/accounts/purchase']" fragment="credits"
          role="button">
        </a>
      </li>
      <li class="nav-item dropdown hidden-caret px-3" title="notifications">
        <span>
          <i class="fas fa-bell text-primary"></i>
        </span>
      </li>
      <li class="nav-item dropdown hidden-caret ml-2 mr-2" title="account settings">
        <a class="" data-toggle="dropdown" href="#test" aria-expanded="false"> <i class="fas fa-user-circle text-primary"></i> </a>
        <ul class="dropdown-menu dropdown-user text-right" id="#test">
          <a class="dropdown-item" [routerLink]="'/user/accounts/settings'" fragment="history"><i
              class="fas fa-user-cog"></i></a>
          <!-- <a class="dropdown-item" [routerLink]="'/user/accounts/profile'" fragment="username"><i
              class="fas fa-user"></i>
            Profile</a> -->
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="logout()"><i class="fa fa-power-off"></i> </button>
        </ul>
        <!-- /.dropdown-user -->
      </li>
    </ul>
  </div>
</nav>
