<div class="main">
  <div class="authentication-theme">
    <div class="row">
      <div class="">
        <div class="grid">
          <div class="grid-body">
            <div [hidden]="!loginSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
              Success redirecting...
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div [hidden]="!loginFailure" class="alert alert-danger alert-dismissible fade show" role="alert">
              Ooops...an error occured!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form">
              <form class="form-signin card shadow">
                <div class="text-center mb-2">
                  <h4 class="h5 mb-1 font-weight-normal">Nexis Systems</h4>
                </div>
                <div class="form-group">
                  <div class="col-auto">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="far fa-user mr-2"></i></div>
                      </div>
                      <input type="text" name="username" [(ngModel)]="username" class="form-control" required autofocus
                        placeholder="Email">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-auto">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key mr-2"></i></div>
                      </div>
                      <input type="password" name="password" [(ngModel)]="password" class="form-control" required
                        placeholder="Password">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-auto">
                    <button class="btn btn-primary btn-block" (click)="login()"><i class="fas fa-lock-open"></i>
                      Log
                      in</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
