<div class="row">
  <div class="viewport-header">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb has-arrow">
        <li class="breadcrumb-item">
          <a [routerLink]="'/user/dashboard'">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="'/user/dnc'">Dnc List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">all</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="container-fluid">
    <div class="col-md-5 offset-7">
      <div class="ml-auto">
        <div [hidden]="!success" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{successMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div [hidden]="!failure" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{errorMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-viewport">
  <div class="row">
    <div class="col-lg-12 equel-grid">
      <div class="grid">
        <div class="grid-body">
          <div class="item-wrapper">
            <div class="text-right">
              <div class="btn btn-primary btn-sm has-icon mb-2" [routerLink]="'/user/dnc/add'">
                <i class="fas fa-plus -plus-outline"></i>Add
              </div>
            </div>
            <div class="table-responsive">
              <table class="table info-table table-striped">
                <thead class="">
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Total Contacts</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dnc of dnc | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{dnc.name | titlecase |  slice:0:25}}</td>
                    <td>{{dnc.description | titlecase |  slice:0:25}}</td>
                    <td>{{dnc.created_date}}</td>
                    <td>{{dnc.total}}</td>
                    <td>
                      <a [routerLink]="['/user/dnc/view', dnc.id]"><i class="fas fa-eye mr-2 ml-2 text-success"
                          title="view"></i></a>
                          <a [routerLink]="['/user/dnc/add/lead', dnc.id]"><i class="fas fa-plus mr-2 ml-2 text-primary"
                            title="add lead"></i></a>
                      <a><i class="fas fa-download mr-2 ml-2 text-success" title="download"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <p class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
