<div class="row">
  <div class="viewport-header">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb has-arrow">
        <li class="breadcrumb-item">
          <a [routerLink]="'/user/dashboard'">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="'/user/dnc'">Dnc List</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/user/dnc/view', dncContact.id]">view</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{dncContact.name}}</li>
      </ol>
    </nav>
  </div>
</div>

<div class="content-viewport">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-12 equel-grid">
      <div class="grid">
        <div class="grid-body">
          <div class="d-flex mt-5 mb-3">
            <small class="mb-0 text-primary">Dnc Details</small>
          </div>
          <div class="d-flex justify-content-between border-bottom py-2">
            <p class="text-black">Dnc Name</p>
            <p class="text-gray">{{dncContact.name}}</p>
          </div>
          <div class="d-flex justify-content-between border-bottom py-2">
            <p class="text-black">Date Created</p>
            <p class="text-gray">{{dncContact.created_date}}</p>
          </div>
          <div class="d-flex justify-content-between pt-2">
            <p class="text-black">Description</p>
            <p class="text-gray">{{dncContact.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 equel-grid">
      <div class="grid widget-revenue-card">
        <div class="grid-body d-flex flex-column h-100">
          <div class="d-flex mt-5 mb-3">
            <small class="mb-0 text-primary">Dnc Contacts</small>
          </div>
          <div class="table-responsive ">
            <table class="table info-table table-striped">
              <thead class="">
                <tr>
                  <th>Total Contacts</th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
                <!-- <tr *ngFor="let dnc of dnc | paginate: { itemsPerPage: 10, currentPage: p }">
                  
                </tr> -->
              </tbody>
            </table>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
